<ion-grid>
  <ion-row class="H1"> EXPERIENCE </ion-row>
  <ion-row>
    <ion-col>
      <ion-row class="H2">
        March,2021 – Present: Front End Developer (Angular) • Tata Consultancy
        Services
      </ion-row>
      <ion-row class="H3">
        <ul>
          <li>
            March,2021 – Present: Front End Developer (Angular) • Tata
            Consultancy Services
          </li>
        </ul>
        <ul>
          <li>
            Exposure of Jasmine Unit testing, rxjs, lodash and hooks of angular.
          </li>
        </ul>
        <ul>
          <li>
            Accustomed to work in Agile methodology with a diverse team with
            regular client interaction and meeting day to day deliverable
            expectations alongside different Teams
          </li>
        </ul>
        <ul>
          <li>Experienced in using JIRA, Bitbucket, GitHub</li>
        </ul>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row class="H2">
        Oct,2020 – March,2021: Full Stack Web developer • Tata Consultancy
        Services
      </ion-row>
      <ion-row class="H3">
        <ul>
          <li>
            Experienced with Object oriented programming concepts and design
            patterns using Java.
          </li>
        </ul>
        <ul>
          <li>
            Experienced in Full stack web development (with groovy on grails)
            using Spring framework, MySQL dB and Angular/JS as font-end with
            exposure of JENKINS CI-CD pipeline.
          </li>
        </ul>
        <ul>
          <li>
            Worked with a big, diverse team to build a Full-fledged high traffic
            website.Worked with a big, diverse team to build a Full-fledged high
            traffic website.
          </li>
        </ul>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
