<ion-grid>
  <ion-row class="H1"> EDUCATION </ion-row>
  <ion-row>
    <ion-col>
      <ion-row class="H2">
        Bachelor of Technology: Kalyani Govt. Engineering College • Kalyani •
        West Bengal • India
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row class="H2">
        Electronics and Communication Engineering graduate having 8.62 DGPA with
        Coding Expertise
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row class="H1"> PERSONAL PROJECTS </ion-row>
  <ion-row>
    <ion-col>
      <ion-row class="H2">
        Final year project || Home automation - Arduino enabled and Wi-Fi
        controlled Smart lightning control using Google assistant
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row class="H2">
        Secured HOME || GSM enabled security system integrated with Phone
        Call/SMS on possible trespassing | Arduino & GSM enabled circuit with
        proximity sensor with prototype and future modification concepts.
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
